# ignore any txt files (used for testing)
*.txt 

# ignore and ics files (output of the program)
*.ics

# ignore files for compilation
*.o
*.d

# ignore vscode settings
.vscode/

# ignore the executable file
makeSchedule
